<div class="container mt-5">
    <h2>Edit Subnet</h2>
    
    <form (ngSubmit)="save()" #subnetForm="ngForm">
        <div class="form-group">
            <label for="subnetName">Subnet Name</label>
            <input type="text" id="subnetName" [(ngModel)]="subnet.SubnetName" name="subnetName" class="form-control" required />
          </div>
          <div class="form-group  mb-4">
            <label for="subnetAddress">Subnet Address</label>
            <input type="text" id="subnetAddress" [(ngModel)]="subnet.SubnetAddress" name="subnetAddress" class="form-control" disabled="true" />
          </div> 
  
      <button type="submit" class="btn btn-success" [disabled]="!subnetForm.form.valid">Save</button>
      <button (click)="cancel()" class="btn btn-secondary ms-2">Cancel</button>
    </form>
  
    <div *ngIf="subnet" class="mt-3">
      <h5>Subnet Details</h5>
      <p><strong>Subnet ID:</strong> {{ subnet.SubnetId }}</p>
      <p><strong>Created By:</strong> {{ subnet.SubnetName }}</p>
      <p><strong>Created By:</strong> {{ subnet.SubnetAddress }}</p>
      <p><strong>Created By:</strong> {{ subnet.CreatedBy }}</p>
    </div>
  </div>
  