<table class="table">
    <thead>
      <tr>
        <th scope="col">#IpId</th>
        <th scope="col">IpAddress</th>
        <th scope="col">SubnetId</th>
        <th scope="col">CreatedBy</th>
        <th scope="col">CreatedAt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ip of ips">
        <th scope="row">{{ ip.IpId }}</th>
        <td>{{ ip.IpAddress }}</td>
        <td>{{ ip.SubnetId }}</td>
        <td>{{ ip.CreatedBy }}</td>
        <td>{{ ip.CreatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      </tr>

      
    </tbody>
  </table>