

<table class="table">
    <thead>
      <tr>
        <th scope="col">#SubnetId</th>
        <th scope="col">SubnetName</th>
        <th scope="col">SubnetAddress</th>
        <th scope="col">Createdby</th>
        <th scope="col">CreatedAt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subnet of subnets">
        <th scope="row">{{ subnet.SubnetId }}</th>
        <td>{{ subnet.SubnetName }}</td>
        <td>{{ subnet.SubnetAddress }}</td>
        <td>{{ subnet.CreatedBy }}</td>
        <td>{{ subnet.CreatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      </tr>

      
    </tbody>
  </table>